<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <a href="{{ url_for('main.user', username=credential.owner.username) }}">
                <img src="{{ credential.owner.avatar(36) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.edit_credential', id=credential.id) }}">{{ credential.username }}</a> / {{ credential.password }} / {{ credential.comments }}
            <br>
            {{ moment(credential.established).format('MMMM Do YYYY, h:mm:ss a') }}
        </td>
        <td align ="right">
            <a href="{{ url_for('main.delete_credential', id=credential.id) }}">Delete</a>
        </td>
    </tr>
</table>