<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <a href="{{ url_for('main.user', username=credential.owner.username) }}">
                <img src="{{ credential.owner.avatar(36) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=credential.owner.username) }}">
                {{ credential.owner.username }}
            </a>
            created {{ moment(credential.established).fromNow() }}:
            <br>
            {{ credential.comments }}
        </td>
    </tr>
</table>