<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <a href="{{ url_for('main.user', username=credential.author.username) }}">
                <img src="{{ credential.author.avatar(36) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=credential.author.username) }}">
                {{ credential.author.username }}
            </a>
            said {{ moment(credential.timestamp).fromNow() }}:
            <br>
            {{ credential.body }}
        </td>
    </tr>
</table>